openapi: 3.0.0
servers:
  - description: Dev
    url: 'https://icodeapidev.vnpt.vn'
  - description: Test
    url: 'https://icodeapitest.vnpt.vn'
info:
  description: Danh sách API của Directory Service
  version: 1.0.0
  title: Danh sách API của Directory Service
  contact:
    name: VNPT IT
    email: vnptit@vnpt.vn
    url: 'https://vnptit.vn'
paths:
  /directory/monetary-unit/name:
    get:
      tags:
        - Monetary Unit
      summary: Lấy danh sách mã và tên đơn vị tiền tệ
      description: |
        **Lưu ý:**

        - `keyword` là trường tùy chọn để tìm kiếm tên danh mục, mô tả. Nếu không
        truyền hoặc rỗng thì trả về tất cả.
        
        - `status` = 0 đóng, 1 mở. Mặc định lấy `status = 1`

        API này yêu cầu quyền: `/svcDirectory/manageMonetaryUnit/read`
        
        Nếu có ROLE `SUPER_ADMIN`:
        
           + Cho phép truyền tham số `deployment-id`. Lấy danh sách mã và tên đơn vị tiền tệ theo tham số `deployment-id`.
           
        Nếu không truyền `deployment-id`:
           
           + Lấy danh sách mã và tên đơn vị tiền tệ theo `deploymentId` lấy trong access token.
           
        Các tính năng khác: `MULTI-TENANT` `MULTI-LANGUAGE`
      parameters:
        - in: header
          name: Accept-Language
          description: Ngôn ngữ trả về
          required: false
          schema:
            type: string
            example: vi
        - in: query
          name: keyword
          description: Từ khóa tìm kiếm
          schema:
            type: string
            example: eu
        - in: query
          name: page
          description: Trang cần lấy dữ liệu
          required: false
          schema:
            type: number
            example: 1
        - in: query
          name: size
          description: Số dòng truyền vào
          required: false
          schema:
            type: number
            example: 10
        - in: query
          name: status
          description: Trạng thái
          required: false
          schema:
            type: number
            example: 1
        - in: query
          name: deployment-id
          description: Mã đơn vị triển khai
          schema:
            type: string
            example: "carbon.super"
      responses:
        '200':
          description: Lấy dữ liệu thành công
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      content:
                        type: array
                        items:
                          properties:
                            id:
                              type: string
                              format: ObjectId
                              description: Mã đơn vị tiền tệ
                            name:
                              type: string
                              description: Tên đơn vị tiền tệ
                            code:
                              type: string
                              description: Ký hiệu tiền tệ.
                            deploymentId:
                              type: string
                        example:
                          - id: 765f1f77bcf86cd799439010
                            name: Euro
                            code: EUR
                            deploymentId: "carbon.super"
                  - $ref: '#/components/schemas/Slice'
        '400':
          description: Không tìm thấy mã triển khai
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: number
                    format: number
                    example: 10000
                  message:
                    type: string
                    format: string
                    example: "Không tìm thấy mã triển khai trong token"          
      security:
        - OAuth2:
            - READ
            - WRITE
  /directory/monetary-unit:
    get:
      tags:
        - Monetary Unit
      summary: Lấy danh sách đơn vị tiền tệ
      description: |
        **Lưu ý:**

        - `keyword` là trường tùy chọn để tìm kiếm tên đơn vị tiền tệ, tên quốc
        gia. Nếu không truyền hoặc rỗng thì trả về tất cả.
        
        - `status` = 0 đóng, 1 mở. Mặc định lấy tất cả.
  
        API này yêu cầu quyền: `/svcDirectory/manageMonetaryUnit/read`
        
        Nếu có ROLE `SUPER_ADMIN`:
        
           + Cho phép truyền tham số `deployment-id`. Lấy danh sách đơn vị tiền tệ theo tham số `deployment-id`.
           
        Nếu không truyền `deployment-id`:
           
           + Lấy danh sách đơn vị tiền tệ theo `deploymentId` lấy trong access token.
        
        Các tính năng khác: `MULTI-TENANT` `MULTI-LANGUAGE` 
      parameters:
        - in: header
          name: Accept-Language
          description: Ngôn ngữ trả về
          required: false
          schema:
            type: string
            example: vi
        - in: query
          name: keyword
          description: Từ khóa tìm kiếm
          schema:
            type: string
            example: kinh
        - in: query
          name: page
          description: Trang cần lấy dữ liệu
          required: false
          schema:
            type: number
            example: 1
        - in: query
          name: size
          description: Số dòng truyền vào
          required: false
          schema:
            type: number
            example: 10
        - in: query
          name: status
          description: Trạng thái
          required: false
          schema:
            type: number
            example: 1
        - in: query
          name: deployment-id
          description: Mã đơn vị triển khai
          schema:
            type: string
            example: "carbon.super"
      responses:
        '200':
          description: Lấy dữ liệu thành công
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      content:
                        type: array
                        items:
                          properties:
                            id:
                              type: string
                              format: ObjectId
                              description: Mã đơn vị tiền tệ
                            name:
                              type: string
                              description: Tên đơn vị tiền tệ
                            code:
                              type: string
                              description: Ký hiệu tiền tệ.
                            nation:
                              type: array
                              description: Quốc gia
                              items:
                                properties:
                                  id:
                                    type: string
                                    format: ObjectId
                                    description: Mã quốc gia
                                  name:
                                    type: string
                                    description: Tên quốc gia
                            status:
                              type: number
                              description: Trạng thái. Mặc định là 1.
                            deploymentId:
                              type: string
                        example:
                          - id: 765f1f77bcf86cd799439010
                            name: Euro
                            code: EUR
                            nation:
                              - id: 765f1f77bcf86cd799439011
                                name: Pháp
                              - id: 765f1f77bcf86cd799439012
                                name: Đức
                            status: 1
                            deploymentId: "carbon.super"
                  - $ref: '#/components/schemas/Page'
        '400':
          description: Không tìm thấy mã triển khai
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: number
                    format: number
                    example: 10000
                  message:
                    type: string
                    format: string
                    example: "Không tìm thấy mã triển khai trong token"          
      security:
        - OAuth2:
            - READ
            - WRITE
    post:
      tags:
        - Monetary Unit
      summary: Thêm mới đơn vị tiền tệ
      description: |
        Danh sách các trường bắt buộc: `name`, `nation`, `code`. Thực hiện phi chuẩn hóa `nation`.
        
        API này yêu cầu quyền: `/svcDirectory/manageMonetaryUnit/create` 
        
        Nếu có ROLE `SUPER_ADMIN`:
        
           + Cho phép truyền tham số `deploymentId` trong `request body`.
           
        Nếu không truyền `deploymentId` trong `request body`:
           
           + Lấy `deploymentId` trong access token.
        
        Các tính năng khác: `MULTI-TENANT` `MULTI-LANGUAGE` `EVENT-DRIVEN MESSAGE`
      parameters:
        - in: header
          name: Accept-Language
          description: Ngôn ngữ trả về
          required: false
          schema:
            type: string
            example: vi
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
                - name
                - code
                - nation
              type: object
              properties:
                name:
                  type: string
                  description: Tên đơn vị tiền tệ
                code:
                  type: string
                  description: Ký hiệu tiền tệ.
                status:
                  type: number
                  description: Trạng thái. Mặc định là 1.
                nation:
                  type: array
                  description: Quốc gia
                  items:
                    properties:
                      id:
                        type: string
                        format: ObjectId
                        description: Mã quốc gia
                deploymentId:
                  type: string
            example:
              name: Euro
              code: ERU
              status: 1
              nation:
                - id: 5f39f4a95224cf235e134c5c
              deploymentId: "carbon.super"
      responses:
        '200':
          description: Thêm dữ liệu thành công
          content:
            application/json:
              schema:
                properties:
                  id:
                    type: string
                    format: ObjectId
                    example: 765f1f77bcf86cd799439010
        '400':
          description: Không tìm thấy mã triển khai
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: number
                    format: number
                    example: 10000
                  message:
                    type: string
                    format: string
                    example: "Không tìm thấy mã triển khai trong token"            
      security:
        - OAuth2:
            - READ
            - WRITE
  '/directory/monetary-unit/{id}':
    delete:
      tags:
        - Monetary Unit
      summary: Xóa đơn vị tiền tệ
      description: |
        API này yêu cầu quyền: `/svcDirectory/manageMonetaryUnit/delete`
        
        Nếu có ROLE `SUPER_ADMIN`:
        
           + Cho phép truyền tham số `deployment-id`. Xóa đơn vị tiền tệ theo tham số `deployment-id`.
           
        Nếu không truyền `deployment-id`:
           
           + Xóa đơn vị tiền tệ theo `deploymentId` lấy trong access token.
        
        Các tính năng khác: `MULTI-TENANT` `EVENT-DRIVEN MESSAGE`
      parameters:
        - in: header
          name: Accept-Language
          description: Ngôn ngữ trả về
          required: false
          schema:
            type: string
            example: vi
        - in: path
          name: id
          description: Mã đơn vị tiền tệ
          required: true
          schema:
            type: string
            format: ObjectId
            example: 765f1f77bcf86cd799439011
        - in: query
          name: deployment-id
          description: Mã hệ thống triển khai
          schema:
            type: string
            example: "carbon.super"
      responses:
        '200':
          description: Thực hiện API thành công
          content:
            application/json:
              schema:
                properties:
                  affectedRows:
                    type: number
                    example: 1
        '400':
          description: Không tìm thấy mã triển khai
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: number
                    format: number
                    example: 10000
                  message:
                    type: string
                    format: string
                    example: "Không tìm thấy mã triển khai trong token"            
      security:
        - OAuth2:
            - READ
            - WRITE
    get:
      tags:
        - Monetary Unit
      summary: Thông tin chi tiết đơn vị tiền tệ
      description: |
        API này yêu cầu quyền: `/svcDirectory/manageMonetaryUnit/read`
        
        Nếu có ROLE `SUPER_ADMIN`:
        
           + Cho phép truyền tham số `deployment-id`. Lấy thông tin chi tiết đơn vị tiền tệ theo tham số `deployment-id`.
           
        Nếu không truyền `deployment-id`:
           
           + Lấy thông tin chi tiết đơn vị tiền tệ theo `deploymentId` lấy trong access token.
        
        Các tính năng khác: `MULTI-TENANT` `MULTI-LANGUAGE`
      parameters:
        - in: path
          name: id
          description: Mã đơn vị tiền tệ
          required: true
          schema:
            type: string
            format: ObjectId
            example: 765f1f77bcf86cd799439010
        - in: query
          name: deployment-id
          description: Mã hệ thống triển khai
          schema:
            type: string
            example: "carbon.super"
      responses:
        '200':
          description: Lấy dữ liệu thành công
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: ObjectId
                    description: Mã đơn vị tiền tệ
                  name:
                    type: string
                    description: Tên đơn vị tiền tệ
                  code:
                    type: string
                    description: Ký hiệu tiền tệ.
                  status:
                    type: number
                    description: Trạng thái. Mặc định là 1.
                  nation:
                    type: array
                    description: Quốc gia
                    items:
                      properties:
                        id:
                          type: string
                          format: ObjectId
                          description: Mã quốc gia
                  deploymentId:
                    type: string
              example:
                id: 765f1f77bcf86cd799439010
                name: Euro
                code: ERU
                status: 1
                nation:
                  - id: 765f1f77bcf86cd799439011
                  - id: 765f1f77bcf86cd799439012
                deploymentId: "carbon.super"
        '400':
          description: Không tìm thấy mã triển khai
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: number
                    format: number
                    example: 10000
                  message:
                    type: string
                    format: string
                    example: "Không tìm thấy mã triển khai trong token"          
        '404':
          description: Không tìm thấy dữ liệu
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: number
                    example: 11001
                  message:
                    type: string
                    example: Không tìm thấy dữ liệu          
      security:
        - OAuth2:
            - READ
            - WRITE
    put:
      tags:
        - Monetary Unit
      summary: Cập nhật thông tin đơn vị tiền tệ
      description: |
        Danh sách các trường bắt buộc: `name`, `nation`, `code`. Thực hiện phi chuẩn hóa `nation`.

        API này yêu cầu quyền:`/svcDirectory/manageMonetaryUnit/update`
          
        Nếu có ROLE `SUPER_ADMIN`:
        
           + Cho phép truyền tham số truy vấn `deployment-id`. Lấy thông tin đơn vị tiền tệ theo tham số `deployment-id`.
           
           + Cho phép truyền tham số `deploymentId` trong `request body`. Nếu `deploymentId` trong `request body` có giá trị thì lấy giá trị đó lưu lại.
           
        Nếu không truyền `deployment-id`:
           
           + Lấy thông tin đơn vị tiền tệ theo `deploymentId` lấy trong access token.
        
        Các tính năng khác: `MULTI-TENANT` `MULTI-LANGUAGE` `EVENT-DRIVEN MESSAGE`
      parameters:
        - in: header
          name: Accept-Language
          description: Ngôn ngữ trả về
          required: false
          schema:
            type: string
            example: vi
        - in: path
          name: id
          description: Mã đơn vị tiền tệ
          required: true
          schema:
            type: string
            format: ObjectId
            example: 765f1f77bcf86cd799439010
        - in: query
          name: deployment-id
          description: Mã hệ thống triển khai
          schema:
            type: string
            example: "carbon.super"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
                - name
                - code
                - nation
              type: object
              properties:
                name:
                  type: string
                  description: Tên đơn vị tiền tệ
                code:
                  type: string
                  description: Ký hiệu tiền tệ.
                status:
                  type: number
                  description: Trạng thái. Mặc định là 1.
                nation:
                  type: array
                  description: Quốc gia
                  items:
                    properties:
                      id:
                        type: string
                        description: Mã quốc gia
                        format: ObjectId
                deploymentId:
                  type: string
            example:
              name: Euro
              code: ERU
              status: 1
              nation:
                - id: 765f1f77bcf86cd799439011
                - id: 765f1f77bcf86cd799439012
              deploymentId: "carbon.super"
      responses:
        '200':
          description: Thực hiện API thành công
          content:
            application/json:
              schema:
                properties:
                  affectedRows:
                    type: number
                    example: 1
        '400':
          description: Không tìm thấy mã triển khai
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: number
                    format: number
                    example: 10000
                  message:
                    type: string
                    format: string
                    example: "Không tìm thấy mã triển khai trong token"            
      security:
        - OAuth2:
            - READ
            - WRITE
  '/directory/monetary-unit/{id}/name':
    get:
      tags:
        - Monetary Unit
      summary: API Lấy tên đơn vị tiền tệ
      description: |
        API này yêu cầu quyền:`/svcDirectory/manageMonetaryUnit/read`
        
        Nếu có ROLE `SUPER_ADMIN`:
        
           + Cho phép truyền tham số `deployment-id`. Lấy tên đơn vị tiền tệ theo tham số `deployment-id`.
           
        Nếu không truyền `deployment-id`:
           
           + Lấy tên đơn vị tiền tệ theo `deploymentId` lấy trong access token.
          
        Các tính năng khác: `MULTI-TENANT` `MULTI-LANGUAGE`
      parameters:
        - in: header
          name: Accept-Language
          description: Ngôn ngữ trả về
          required: false
          schema:
            type: string
            example: vi
        - in: path
          name: id
          schema:
            type: integer
            example: 1
          required: true
          description: Mã đơn vị tiền tệ
        - in: query
          name: deployment-id
          description: Mã hệ thống triển khai
          schema:
            type: string
            example: "carbon.super"
      responses:
        '200':
          description: Lấy dữ liệu thành công
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                    example: Đồng
                  deploymentId:
                    type: string
                    example: "carbon.super"
        '400':
          description: Không tìm thấy mã triển khai
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: number
                    format: number
                    example: 10000
                  message:
                    type: string
                    format: string
                    example: "Không tìm thấy mã triển khai trong token"            
        '404':
          description: Không tìm thấy dữ liệu
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                    example: 11001
                  message:
                    type: string
                    example: Không tìm thấy dữ liệu
      security:
        - OAuth2:
            - READ
            - WRITE
  /directory/agency-level:
    get:
      tags:
        - Agency Level
      summary: Lấy danh sách cấp đơn vị
      description: |
        **Lưu ý:**
        - `keyword` là trường tùy chọn để tìm kiếm tên cấp đơn vị, tên quốc gia.
        Nếu không truyền hoặc rỗng thì trả về tất cả.
        
        - `status` = 0 đóng, 1 mở. Mặc định chỉ lấy tất cả.
        
        API này yêu cầu quyền: `/svcDirectory/manageAgencyLevel/read`
        
        Nếu có ROLE `SUPER_ADMIN`:
        
           + Cho phép truyền tham số `deployment-id`. Lấy danh sách cấp đơn vị theo tham số `deployment-id`.
           
        Nếu không truyền `deployment-id`:
           
           + Lấy danh sách cấp đơn vị theo `deploymentId` lấy trong access token.
        
        Các tính năng khác: `MULTI-TENANT` `MULTI-LANGUAGE`
      parameters:
        - in: header
          name: Accept-Language
          description: Ngôn ngữ trả về
          required: false
          schema:
            type: string
            example: vi
        - in: query
          name: keyword
          description: Từ khóa tìm kiếm
          schema:
            type: string
            example: '1'
        - in: query
          name: page
          description: Trang cần lấy dữ liệu
          required: false
          schema:
            type: number
            example: 1
        - in: query
          name: size
          description: Số dòng truyền vào
          required: false
          schema:
            type: number
            example: 10
        - in: query
          name: deployment-id
          description: Mã hệ thống triển khai
          schema:
            type: string
            example: "carbon.super"
      responses:
        '200':
          description: Lấy dữ liệu thành công
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      content:
                        type: array
                        items:
                          properties:
                            id:
                              type: string
                              format: ObjectId
                              description: 'Mã cấp đơn vị '
                            name:
                              type: string
                              description: Tên cấp đơn vị
                            status:
                              type: number
                              description: Trạng thái. Mặc định là 1.
                            deploymentId:
                              type: string
                        example:
                          - id: 765f1f77bcf86cd799439010
                            name: Đơn vị cấp 1
                            status: 1
                            deploymentId: "carbon.super"
                  - $ref: '#/components/schemas/Page'
        '400':
          description: Không tìm thấy mã triển khai
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: number
                    format: number
                    example: 10000
                  message:
                    type: string
                    format: string
                    example: "Không tìm thấy mã triển khai trong token"          
      security:
        - OAuth2:
            - READ
            - WRITE
    post:
      tags:
        - Agency Level
      summary: Thêm mới cấp đơn vị
      description: |
        Danh sách các trường bắt buộc: `name`.
        
        API này yêu cầu quyền: `/svcDirectory/manageAgencyLevel/create`
        
        Nếu có ROLE `SUPER_ADMIN`:
        
           + Cho phép truyền tham số `deploymentId` trong `request body`.
           
        Nếu không truyền `deploymentId` trong `request body`:
           
           + Lấy `deploymentId` trong access token.
        
        Các tính năng khác: `MULTI-TENANT` `MULTI-LANGUAGE` `EVENT-DRIVEN MESSAGE`
      parameters:
        - in: header
          name: Accept-Language
          description: Ngôn ngữ trả về
          required: false
          schema:
            type: string
            example: vi
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
                - name
              type: object
              properties:
                name:
                  type: array
                  description: Tên cấp đơn vị
                  items:
                    properties:
                      languageId:
                        type: number
                        description: Mã ngôn ngữ
                      name:
                        type: string
                        description: Tên cấp đơn vị theo ngôn ngữ
                status:
                  type: number
                  description: Trạng thái. Mặc định là 1.
                deploymentId:
                  type: string
            example:
              name:
                - languageId: 228
                  name: Cấp 1
                - languageId: 46
                  name: Level 1
              status: 1
              deploymentId: "carbon.super"
      responses:
        '200':
          description: Thêm dữ liệu thành công
          content:
            application/json:
              schema:
                properties:
                  id:
                    type: string
                    format: ObjectId
                    example: 765f1f77bcf86cd799439010
        '400':
          description: Thực hiện API không thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrors'
              examples:
                10000:
                  summary: Không tìm thấy mã triển khai
                  value:
                    code: 10000
                    message: "Không tìm thấy mã triển khai trong token"
                10007:
                  summary: Cấp đơn vị đã tồn tại
                  value:
                    code: 10007
                    message: "{code}, {code} đã tồn tại"            
      security:
        - OAuth2:
            - READ
            - WRITE
  '/directory/agency-level/{id}':
    delete:
      tags:
        - Agency Level
      summary: Xóa cấp đơn vị
      description: |
        API này yêu cầu quyền: `/svcDirectory/manageAgencyLevel/delete`
        
        Nếu có ROLE `SUPER_ADMIN`:
        
           + Cho phép truyền tham số `deployment-id`. Xóa cấp đơn vị theo tham số `deployment-id`.
           
        Nếu không truyền `deployment-id`:
           
           + Xóa cấp đơn vị theo `deploymentId` lấy trong access token.
        
        Các tính năng khác: `MULTI-TENANT` `EVENT-DRIVEN MESSAGE`
      parameters:
        - in: header
          name: Accept-Language
          description: Ngôn ngữ trả về
          required: false
          schema:
            type: string
            example: vi
        - in: path
          name: id
          description: Mã cấp đơn vị
          required: true
          schema:
            type: string
            format: ObjectId
            example: 765f1f77bcf86cd799439011
        - in: query
          name: deployment-id
          description: Mã hệ thống triển khai
          schema:
            type: string
            example: "carbon.super"
      responses:
        '200':
          description: Thực hiện API thành công
          content:
            application/json:
              schema:
                properties:
                  affectedRows:
                    type: number
                    example: 1
        '400':
          description: Thực hiện API không thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrors'
              examples:
                10000:
                  summary: Không tìm thấy mã triển khai
                  value:
                    code: 10000
                    message: "Không tìm thấy mã triển khai trong token"           
      security:
        - OAuth2:
            - READ
            - WRITE
    get:
      tags:
        - Agency Level
      summary: Thông tin chi tiết cấp đơn vị
      description: |
        API này yêu cầu quyền: `/svcDirectory/manageAgencyLevel/read`
        
        Nếu có ROLE `SUPER_ADMIN`:
        
           + Cho phép truyền tham số `deployment-id`. Lấy thông tin chi tiết cấp đơn vị theo tham số `deployment-id`.
           
        Nếu không truyền `deployment-id`:
           
           + Lấy thông tin chi tiết cấp đơn vị theo `deploymentId` lấy trong access token.
        
        Các tính năng khác: `MULTI-TENANT` `MULTI-LANGUAGE`
      parameters:
        - in: path
          name: id
          description: Mã cấp đơn vị
          required: true
          schema:
            type: string
            format: ObjectId
            example: 765f1f77bcf86cd799439010
        - in: query
          name: deployment-id
          description: Mã hệ thống triển khai
          schema:
            type: string
            example: "carbon.super"
      responses:
        '200':
          description: Lấy dữ liệu thành công
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: ObjectId
                    description: 'Mã cấp đơn vị '
                  name:
                    type: array
                    description: Tên cấp đơn vị
                    items:
                      properties:
                        languageId:
                          type: number
                          description: Mã ngôn ngữ
                        name:
                          type: string
                          description: Tên cấp đơn vị theo ngôn ngữ
                  status:
                    type: number
                    description: Trạng thái. Mặc định là 1.
                  deploymentId:
                    type: string
              example:
                id: 765f1f77bcf86cd799439010
                name:
                  - languageId: 228
                    name: Cấp 1
                  - languageId: 46
                    name: Level 1
                status: 1
                deploymentId: "carbon.super"
        '400':
          description: Thực hiện API không thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrors'
              examples:
                10000:
                  summary: Không tìm thấy mã triển khai
                  value:
                    code: 10000
                    message: "Không tìm thấy mã triển khai trong token"       
        '404':
          description: Không tìm thấy dữ liệu
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: number
                    example: 11001
                  message:
                    type: string
                    example: Không tìm thấy dữ liệu        
      security:
        - OAuth2:
            - READ
            - WRITE
    put:
      tags:
        - Agency Level
      summary: Cập nhật thông tin cấp đơn vị
      description: |
        Danh sách các trường bắt buộc: `name`.

        API này yêu cầu quyền: `/svcDirectory/manageAgencyLevel/update`
        
        Nếu có ROLE `SUPER_ADMIN`:
        
           + Cho phép truyền tham số truy vấn `deployment-id`. Lấy thông tin cấp đơn vị theo tham số `deployment-id`.
           
           + Cho phép truyền tham số `deploymentId` trong `request body`. Nếu `deploymentId` trong `request body` có giá trị thì lấy giá trị đó lưu lại.
           
        Nếu không truyền `deployment-id`:
           
           + Lấy thông tin cấp đơn vị theo `deploymentId` lấy trong access token.
        
        Các tính năng khác: `MULTI-TENANT` `MULTI-LANGUAGE` `EVENT-DRIVEN MESSAGE`
      parameters:
        - in: header
          name: Accept-Language
          description: Ngôn ngữ trả về
          required: false
          schema:
            type: string
            example: vi
        - in: path
          name: id
          description: Mã cấp đơn vị
          required: true
          schema:
            type: string
            format: ObjectId
            example: 765f1f77bcf86cd799439010
        - in: query
          name: deployment-id
          description: Mã hệ thống triển khai
          schema:
            type: string
            example: "carbon.super"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
                - name
              type: object
              properties:
                name:
                  type: object
                  description: Tên cấp đơn vị
                  properties:
                    languageId:
                      type: number
                      description: Mã ngôn ngữ
                    name:
                      type: string
                      description: Tên cấp đơn vị theo ngôn ngữ
                status:
                  type: number
                  description: Trạng thái. Mặc định là 1.
                nation:
                  type: array
                  description: Quốc gia
                  items:
                    properties:
                      id:
                        type: string
                        format: ObjectId
                        description: Mã quốc gia
                deploymentId:
                  type: string
            example:
              name:
                - languageId: 228
                  name: Khơ me
                - languageId: 46
                  name: Khmer
              status: 1
              nation:
                - id: 765f1f77bcf86cd799439011
                - id: 765f1f77bcf86cd799439012
              deploymentId: "carbon.super"
      responses:
        '200':
          description: Thực hiện API thành công
          content:
            application/json:
              schema:
                properties:
                  affectedRows:
                    type: number
                    example: 1
        '400':
          description: Thực hiện API không thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrors'
              examples:
                10000:
                  summary: Không tìm thấy mã triển khai
                  value:
                    code: 10000
                    message: "Không tìm thấy mã triển khai trong token"
      security:
        - OAuth2:
            - READ
            - WRITE
  /directory/agency-level/name:
    get:
      tags:
        - Agency Level
      summary: Lấy danh sách mã và tên cấp đơn vị
      description: |
        **Lưu ý:**

        - `keyword` là trường tùy chọn để tìm kiếm tên danh mục, mô tả. Nếu không
        truyền hoặc rỗng thì trả về tất cả.
        
        - `status` = 0 đóng, 1 mở. Mặc định lấy `status = 1`

        API này yêu cầu quyền:`/svcDirectory/manageAgencyLevel/read`
        
        Nếu có ROLE `SUPER_ADMIN`:
        
           + Cho phép truyền tham số `deployment-id`. Lấy danh sách mã và tên cấp đơn vị theo tham số `deployment-id`.
           
        Nếu không truyền `deployment-id`:
           
           + Lấy danh sách mã và tên cấp đơn vị theo `deploymentId` lấy trong access token.
        
        Các tính năng khác: `MULTI-TENANT` `MULTI-LANGUAGE`
      parameters:
        - in: header
          name: Accept-Language
          description: Ngôn ngữ trả về
          required: false
          schema:
            type: string
            example: vi
        - in: query
          name: keyword
          description: Từ khóa tìm kiếm
          schema:
            type: string
            example: kinh
        - in: query
          name: page
          description: Trang cần lấy dữ liệu
          required: false
          schema:
            type: number
            example: 1
        - in: query
          name: size
          description: Số dòng truyền vào
          required: false
          schema:
            type: number
            example: 10
        - in: query
          name: status
          description: Trạng thái
          required: false
          schema:
            type: number
            example: 1
        - in: query
          name: deployment-id
          description: Mã hệ thống triển khai
          schema:
            type: string
            example: "carbon.super"
      responses:
        '200':
          description: Lấy dữ liệu thành công
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      content:
                        type: array
                        items:
                          properties:
                            id:
                              type: string
                              format: ObjectId
                              description: 'Mã cấp đơn vị '
                            name:
                              type: string
                              description: Tên cấp đơn vị
                            deploymentId:
                              type: string
                        example:
                          - id: 765f1f77bcf86cd799439010
                            name: Kinh
                            deploymentId: "carbon.super"
                  - $ref: '#/components/schemas/Slice'
        '400':
          description: Thực hiện API không thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrors'
              examples:
                10000:
                  summary: Không tìm thấy mã triển khai
                  value:
                    code: 10000
                    message: "Không tìm thấy mã triển khai trong token"          
      security:
        - OAuth2:
            - READ
            - WRITE
  /directory/agency:
    get:
      tags:
        - Agency
      summary: Lấy danh sách đơn vị
      description: |
        **Lưu ý:**
         - `keyword` là trường tùy chọn để tìm kiếm không phân biệt hoa thường tên, địa chỉ, mã định danh, mã số thuế, số điện thoại, số FAX, email, tag. Nếu không truyền hoặc rỗng thì trả về tất cả.
         
         - `code` `parent-id` `ancestor-id` `phone` `level-id` là trường tùy chọn. Nếu không truyền hoặc rỗng thì trả về tất cả.
         
         - `status` = 0 đóng, 1 mở, 2 tất cả. Mặc định chỉ lấy status = 1.
        
        API này yêu cầu quyền:`/svcDirectory/manageAgency/read`
        
        Nếu có ROLE `SUPER_ADMIN`:
        
           + Cho phép truyền tham số `deployment-id`. Lấy danh sách đơn vị theo tham số `deployment-id`.
           
        Nếu không truyền `deployment-id`:
           
           + Lấy danh sách đơn vị theo `deploymentId` lấy trong access token.
        
        Các tính năng khác: `MULTI-TENANT` ` MULTI-LANGUAGE`
      parameters:
        - in: header
          name: Accept-Language
          description: Ngôn ngữ trả về
          required: false
          schema:
            type: string
            example: vi
        - in: query
          name: keyword
          description: Từ khóa tìm kiếm
          schema:
            type: string
            example: sở y tế
        - in: query
          name: code
          description: Mã định danh
          schema:
            type: string
            example: CMU
        - in: query
          name: parent-id
          description: Mã đơn vị cha tìm kiếm
          schema:
            type: string
            example: 765f1f77bcf86cd799439012
        - in: query
          name: ancestor-id
          description: Mã đơn vị liên quan (tổ tiên)
          schema:
            type: string
            example: 765f1f77bcf86cd799439012
        - in: query
          name: phone
          description: Số điện thoại
          required: false
          schema:
            type: number
            example: 0919293949
        - in: query
          name: level-id
          description: Mã cấp đơn vị
          schema:
            type: string
            example: 765f1f77bcf86cd799439012
        - in: query
          name: page
          description: Trang cần lấy dữ liệu
          required: false
          schema:
            type: number
            example: 1
        - in: query
          name: size
          description: Số dòng truyền vào
          required: false
          schema:
            type: number
            example: 10
        - in: query
          name: status
          description: Trạng thái
          required: false
          schema:
            type: number
            example: 1
        - in: query
          name: deployment-id
          description: Mã hệ thống triển khai
          schema:
            type: string
            example: "carbon.super"
      responses:
        '200':
          description: Lấy dữ liệu thành công
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      content:
                        type: array
                        items:
                          properties:
                            id:
                              type: string
                              format: ObjectId
                              description: Mã đơn vị
                            name:
                              type: string
                              description: Tên đơn vị
                            code:
                              type: string
                              description: Ký hiệu đơn vị
                            logoId:
                              type: string
                              description: Mã hình ảnh đại diện cơ quan
                              format: ObjectId
                            parent:
                              type: object
                              description: Đơn vị cha
                              properties:
                                id:
                                  type: string
                                  description: Mã đơn vị cha
                                  format: ObjectId
                                name:
                                  type: string
                                  description: Tên đơn vị cha
                            level:
                              type: object
                              description: Cấp đơn vị
                              properties:
                                id:
                                  type: string
                                  description: Mã cấp đơn vị
                                  format: ObjectId
                                name:
                                  type: string
                                  description: Tên cấp đơn vị
                            telephone:
                              type: string
                              description: Số điện thoại đơn vị
                            status:
                              type: number
                              description: Trạng thái
                            deploymentId:
                              type: string
                        example:
                          - id: 765f1f77bcf86cd799439011
                            name: Sở Y tế Tỉnh Tiền Giang
                            parent:
                              id: 765f1f77bcf86cd799439012
                              name: ' UBND Tỉnh Tiền Giang'
                            level:
                              id: 765f1f77bcf86cd799439014
                              name: Đơn vị cấp 1
                            telephone: 02733977184
                            status: 1
                            deploymentId: "carbon.super"
                  - $ref: '#/components/schemas/Page'
        '400':
          description: Không tìm thấy mã triển khai
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: number
                    format: number
                    example: 10000
                  message:
                    type: string
                    format: string
                    example: "Không tìm thấy mã triển khai trong token"
      security:
        - OAuth2:
            - READ
            - WRITE
    post:
      tags:
        - Agency
      summary: Thêm mới đơn vị
      description: |
        Danh sách các trường bắt buộc: `code`, `name`.
        Thực hiện phi chuẩn hóa các trường thông tin: `parent`, `tag`, `address`
        
        API này yêu cầu quyền: `/svcDirectory/manageAgency/create`
        
        API có gọi đến các API thuộc service khác:
          - GET /location/place/{id}/--full
          - GET /storage/file/{id}/filename+size
          
        Nếu có ROLE `SUPER_ADMIN`:
        
           + Cho phép truyền tham số `deploymentId` trong `request body`.
           
        Nếu không truyền `deploymentId` trong `request body`:
           
           + Lấy `deploymentId` trong access token.
        
        Các tính năng khác: `MULTI-TENANT` `MULTI-LANGUAGE` `EVENT-DRIVEN MESSAGE`
      parameters:
        - in: header
          name: Accept-Language
          description: Ngôn ngữ trả về
          required: false
          schema:
            type: string
            example: vi
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
                - code
                - name
              type: object
              properties:
                code:
                  type: string
                  description: Mã định danh
                taxCode:
                  type: string
                  description: Mã số thuế
                email:
                  type: string
                  format: Email
                  description: 'Email đơn vị '
                website:
                  type: string
                  description: Website đơn vị
                name:
                  type: array
                  description: 'Tên đơn vị '
                  items:
                    properties:
                      languageId:
                        type: number
                        description: Mã ngôn ngữ
                      name:
                        type: string
                        description: Tên đơn vị theo ngôn ngữ
                parent:
                  type: string
                  format: ObjectId
                  description: Địa danh cha
                level:
                  type: string
                  description: Cấp đơn vị
                  format: ObjectId
                tag:
                  type: array
                  items:
                    type: string
                    format: ObjectId
                    description: Nhãn loại đơn vị
                telephone:
                  type: string
                  description: Số điện thoại đơn vị
                fax:
                  type: string
                  description: Số fax đơn vị
                logoId:
                  type: string
                  description: Mã hình ảnh đại diện cơ quan
                  format: ObjectId
                address:
                  type: object
                  description: Địa chỉ đơn vị
                  properties:
                    address:
                      type: string
                      description: 'Địa chỉ cụ thể đơn vị (số nhà, đường..)'
                    place:
                      type: object
                      description: Địa danh
                      properties:
                        id:
                          type: string
                          description: Mã địa danh
                          format: ObjectId
                deploymentId:
                  type: string 
            example:
              code: 000.00.01.H58
              taxCode: '123456789'
              email: ubnd@tiengiang.gov.vn
              website: tiengiang.gov.vn
              name:
                - languageId: 228
                  name: UBND Tỉnh Tiền Giang
                - languageId: 46
                  name: People's Committee of Tien Giang province
              parent: 765f1f77bcf86cd799439011
              level: 765f1f77bcf86cd799439012
              tag:
                - 765f1f77bcf86cd799439011
                - 765f1f77bcf86cd799439012
              telephone: 02733977184
              fax: 02733977184
              logoId: 765f1f77bcf86cd799439012
              address:
                address: 'Số 23, đường 30/4'
                place:
                  id: 765f1f77bcf86cd799439013
              deploymentId: "carbon.super"
      responses:
        '200':
          description: Thực hiện API thành công
          content:
            application/json:
              schema:
                properties:
                  id:
                    type: string
                    format: ObjectId
                    example: 765f1f77bcf86cd799439010
        '400':
          description: Thực hiện API không thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrors'
              examples:
                10000:
                  summary: Không tìm thấy mã triển khai
                  value:
                    code: 10000
                    message: "Không tìm thấy mã triển khai trong token"
                10007:
                  summary: Đơn vị đã tồn tại
                  value:
                    code: 10007
                    message: "{code}, {code} đã tồn tại"
      security:
        - OAuth2:
            - READ
            - WRITE
  /directory/agency/--from-file:
    post:
      tags:
        - Agency
      summary: API thêm mới người dùng từ file
      description: |
        API này yêu cầu quyền: `/svcDirectory/manageAgency/create`
        
        Nếu có ROLE `SUPER_ADMIN`:
        
           + Cho phép truyền tham số `deploymentId` trong `request body`.
           
        Nếu không truyền `deploymentId` trong `request body`:
           
           + Lấy `deploymentId` trong access token.
        
        Các tính năng khác: `MULTI-TENANT` `MULTI-LANGUAGE` `EVENT-DRIVEN MESSAGE`
      parameters:
        - in: header
          name: Accept-Language
          description: Ngôn ngữ truyền vào
          required: false
          schema:
            type: string
            example: vi
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
              properties:
                file:
                  type: string
                  format: binary
                agencyId:
                  type: string
                  format: ObjectId
                deploymentId:
                  type: string
                  example: "carbon.super"
      responses:
        '200':
          description: Thực hiện API thành công
        '400':
          description: Thực hiện API không thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrors'
              examples:
                10000:
                  summary: Không tìm thấy mã triển khai
                  value:
                    code: 10000
                    message: "Không tìm thấy mã triển khai trong token"
                10007:
                  summary: Đơn vị đã tồn tại
                  value:
                    code: 10007
                    message: "{code}, {code} đã tồn tại"
            
      security:
        - OAuth2:
            - READ
            - WRITE
  '/directory/agency/{id}':
    delete:
      tags:
        - Agency
      summary: Xóa đơn vị
      description: |
        API này yêu cầu quyền: `/svcDirectory/manageAgency/delete`
        
        Nếu có ROLE `SUPER_ADMIN`:
        
           + Cho phép truyền tham số `deployment-id`. Xóa đơn vị theo tham số `deployment-id`.
           
        Nếu không truyền `deployment-id`:
           
           + Xóa đơn vị theo `deploymentId` lấy trong access token.
        
        Các tính năng khác: `MULTI-TENANT` `EVENT-DRIVEN MESSAGE`
      parameters:
        - in: header
          name: Accept-Language
          description: Ngôn ngữ trả về
          required: false
          schema:
            type: string
            example: vi
        - in: path
          name: id
          description: Mã đơn vị
          required: true
          schema:
            type: string
            format: ObjectId
            example: 765f1f77bcf86cd799439011
        - in: query
          name: deployment-id
          description: Mã hệ thống triển khai
          schema:
            type: string
            example: "carbon.super"
      responses:
        '200':
          description: Thực hiện API thành công
          content:
            application/json:
              schema:
                properties:
                  affectedRows:
                    type: number
                    example: 1
        '400':
          description: Không tìm thấy mã triển khai
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: number
                    format: number
                    example: 10000
                  message:
                    type: string
                    format: string
                    example: "Không tìm thấy mã triển khai trong token"            
      security:
        - OAuth2:
            - READ
            - WRITE
    get:
      tags:
        - Agency
      summary: Thông tin chi tiết đơn vị
      description: |
        API này yêu cầu quyền: `/svcDirectory/manageAgency/read`
        
        Nếu có ROLE `SUPER_ADMIN`:
        
           + Cho phép truyền tham số `deployment-id`. Lấy thông tin chi tiết đơn vị theo tham số `deployment-id`.
           
        Nếu không truyền `deployment-id`:
           
           + Lấy thông tin chi tiết đơn vị theo `deploymentId` lấy trong access token.
        
        Các tính năng khác: `MULTI-TENANT` `MULTI-LANGUAGE`
      parameters:
        - in: path
          name: id
          description: Mã đơn vị
          required: true
          schema:
            type: string
            format: ObjectId
            example: 5f39fb555224cf235e134c6a
        - in: query
          name: deployment-id
          description: Mã hệ thống triển khai
          schema:
            type: string
            example: "carbon.super"
      responses:
        '200':
          description: Lấy dữ liệu thành công
          content:
            application/json:
              schema:
                properties:
                  id:
                    type: string
                    format: ObjectId
                    description: Mã đơn
                  code:
                    type: string
                    description: Mã định danh
                  taxCode:
                    type: string
                    description: Mã số thuế
                  email:
                    type: string
                    description: 'Email đơn vị '
                    format: Email
                  website:
                    type: string
                    description: Website đơn vị
                  name:
                    type: array
                    items:
                      properties:
                        languageId:
                          type: number
                          description: Mã ngôn ngữ
                        name:
                          type: string
                          description: Tên đơn vị theo ngôn ngữ
                  parent:
                    type: string
                    description: Đơn vị cha
                    format: ObjectId
                  tag:
                    type: array
                    description: Nhãn loại đơn vị
                    items:
                      type: string
                      format: ObjectId
                  telephone:
                    type: string
                    description: Số điện thoại đơn vị
                  fax:
                    type: string
                    description: Số fax đơn vị
                  logoId:
                    type: string
                    description: Mã hình ảnh đại diện cơ quan
                    format: ObjectId
                  address:
                    type: object
                    description: Địa chỉ đơn vị
                    properties:
                      address:
                        type: string
                        description: 'Địa chỉ cụ thể đơn vị (số nhà, đường..)'
                      place:
                        type: object
                        description: Địa danh
                        properties:
                          id:
                            type: string
                            format: ObjectId
                          trans:
                            type: array
                            items:
                              properties:
                                languageId:
                                  type: number
                                name:
                                  type: string
                                address:
                                  type: string
                          parent:
                            type: object
                            properties:
                              id:
                                type: string
                                format: ObjectId
                              trans:
                                type: array
                                items:
                                  properties:
                                    languageId:
                                      type: number
                                    name:
                                      type: string
                                    address:
                                      type: string
                              tags:
                                type: array
                                items:
                                  properties:
                                    id:
                                      type: string
                                      format: ObjectId
                                    trans:
                                      type: array
                                      items:
                                        properties:
                                          languageId:
                                            type: number
                                          name:
                                            type: string
                          ancestors:
                            type: array
                            items:
                              properties:
                                id:
                                  type: string
                                  format: ObjectId
                                trans:
                                  type: array
                                  items:
                                    properties:
                                      languageId:
                                        type: number
                                      name:
                                        type: string
                                      address:
                                        type: string
                                tags:
                                  type: array
                                  items:
                                    properties:
                                      id:
                                        type: string
                                        format: ObjectId
                                      trans:
                                        type: array
                                        items:
                                          properties:
                                            languageId:
                                              type: number
                                            name:
                                              type: string
                          location:
                            type: object
                            properties:
                              latitude:
                                type: string
                              longitude:
                                type: string
                          nation:
                            type: object
                            description: Quốc gia
                            properties:
                              id:
                                type: string
                                description: Mã quốc gia
                                format: ObjectId
                              name:
                                type: string
                                description: Tên quốc gia
                              status:
                                type: number
                                description: Trạng thái
                  deploymentId:
                    type: string     
              example:
                id: 765f1f77bcf86cd799439010
                code: 000.00.01.H58
                taxCode: '123456789'
                email: ubnd@tiengiang.gov.vn
                website: tiengiang.gov.vn
                status: 1
                name:
                  - languageId: 228
                    name: UBND Tỉnh Tiền Giang
                  - languageId: 46
                    name: People's Committee of Tien Giang province
                parent: 765f1f77bcf86cd799439011
                tag:
                  - 765f1f77bcf86cd799439011
                  - 765f1f77bcf86cd799439012
                telephone: 02733977184
                fax: 02733977184
                logoId: 765f1f77bcf86cd799439012
                address:
                  address: 'Số 23, đường 30/4'
                  place:
                    id: 765f1f77bcf86cd799439013
                    trans:
                      - languageId: 228
                        name: "Tiền Giang"
                        address: "44-46 Lê Lợi"
                    parent:
                      id: 765f1f77bcf86cd799439012
                      trans:
                        - languageId: 228
                          name: "Tiền Giang"
                          address: "44-46 Lê Lợi"
                      tags:
                        - id: 765f1f77bcf86cd799439013
                          trans:
                            - languageId: 228
                              name: "Thành Phố"
                    ancestors:
                      - id: 765f1f77bcf86cd799439012
                        trans:
                          - languageId: 228
                            name: "Tiền Giang"
                            address: "44-46 Lê Lợi"
                        tags:
                          - id: 765f1f77bcf86cd799439013
                            trans:
                              - languageId: 228
                                name: "Thành Phố"
                    nation:
                      id: 765f1f77bcf86cd799439011
                      trans:
                        - languageId: 228
                          name: "Việt Nam"
                deploymentId: "carbon.super"
        '400':
          description: Không tìm thấy mã triển khai
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: number
                    format: number
                    example: 10000
                  message:
                    type: string
                    format: string
                    example: "Không tìm thấy mã triển khai trong token"                  
        '404':
          description: Không tìm thấy dữ liệu
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: number
                    example: 11001
                  message:
                    type: string
                    example: Không tìm thấy dữ liệu
      security:
        - OAuth2:
            - READ
            - WRITE
    put:
      tags:
        - Agency
      summary: Cập nhật thông tin đơn vị
      description: |
        Danh sách các trường bắt buộc: `code`, `name`. Thực hiện phi chuẩn hóa các trường thông tin: `parent`, `tag`,
        `address`.
        
        API này yêu cầu quyền: `/svcDirectory/manageAgency/update`
        
        API có gọi đến các API thuộc service khác:
          - GET /location/place/{id}/--full
          - GET /storage/file/{id}/filename+size
          
        Nếu có ROLE `SUPER_ADMIN`:
        
           + Cho phép truyền tham số truy vấn `deployment-id`. Lấy thông tin đơn vị theo tham số `deployment-id`.
           
           + Cho phép truyền tham số `deploymentId` trong `request body`. Nếu `deploymentId` trong `request body` có giá trị thì lấy giá trị đó lưu lại.
           
        Nếu không truyền `deployment-id`:
           
           + Lấy thông tin đơn vị theo `deploymentId` lấy trong access token.
        
        Các tính năng khác: `MULTI-TENANT` `MULTI-LANGUAGE` `EVENT-DRIVEN MESSAGE`
      parameters:
        - in: header
          name: Accept-Language
          description: Ngôn ngữ trả về
          required: false
          schema:
            type: string
            example: vi
        - in: path
          name: id
          description: Mã đơn vị
          required: true
          schema:
            type: string
            format: ObjectId
            example: 5f39fa505224cf235e134c69
        - in: query
          name: deployment-id
          description: Mã hệ thống triển khai
          schema:
            type: string
            example: "carbon.super"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
                - code
                - name
              type: object
              properties:
                code:
                  type: string
                  description: Mã định danh
                taxCode:
                  type: string
                  description: Mã số thuế
                email:
                  type: string
                  format: Email
                  description: 'Email đơn vị '
                website:
                  type: string
                  description: Website đơn vị
                name:
                  type: array
                  description: Tên đơn vị
                  items:
                    properties:
                      languageId:
                        type: number
                        description: Mã ngôn ngữ
                      name:
                        type: string
                        description: Tên đơn vị theo ngôn ngữ
                parent:
                  type: string
                  description: Đơn vị cha
                  format: ObjectId
                level:
                  type: string
                  description: Cấp đơn vị
                  format: ObjectId
                tag:
                  type: array
                  items:
                    type: string
                    format: ObjectId
                    description: Nhãn loại đơn vị
                telephone:
                  type: string
                  description: Số điện thoại đơn vị
                fax:
                  type: string
                  description: Số fax đơn vị
                logoId:
                  type: string
                  description: Mã hình ảnh đại diện cơ quan
                  format: ObjectId
                address:
                  type: object
                  description: Địa chỉ đơn vị
                  properties:
                    address:
                      type: string
                      description: 'Địa chỉ cụ thể đơn vị (số nhà, đường..)'
                    place:
                      type: object
                      description: Địa danh
                      properties:
                        id:
                          type: string
                          description: Mã địa danh
                          format: ObjectId
                deploymentId:
                  type: string
            example:
              code: 000.00.01.H58
              taxCode: '123456789'
              email: ubnd@tiengiang.gov.vn
              website: tiengiang.gov.vn
              name:
                - languageId: 228
                  name: UBND Tỉnh Tiền Giang
                - languageId: 46
                  name: People's Committee of Tien Giang province
              parent: 000050000191c4e1bd300001
              level: 5f39f4155224cf235e134c59
              tag:
                - 0000591c4e1bd312a6f00001
              telephone: 02733977184
              fax: 02733977184
              logoId: 765f1f77bcf86cd799439012
              address:
                address: 'Số 23, đường 30/4'
                place:
                  id: 5def47c5f47614018c000001
              deploymentId: "carbon.super"
      responses:
        '200':
          description: Thực hiện API thành công
          content:
            application/json:
              schema:
                properties:
                  affectedRows:
                    type: number
                    example: 1
        '400':
          description: Thực hiện API không thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrors'
              examples:
                10000:
                  summary: Không tìm thấy mã triển khai
                  value:
                    code: 10000
                    message: "Không tìm thấy mã triển khai trong token"
                10007:
                  summary: Đơn vị đã tồn tại
                  value:
                    code: 10007
                    message: "{code}, {code} đã tồn tại"           
      security:
        - OAuth2:
            - READ
            - WRITE
  /directory/agency/name:
    get:
      tags:
        - Agency
      summary: Tìm danh sách đơn vị
      description: |
        **Lưu ý:**
        - `status` = 0 đóng, 1 mở, 2 tất cả. Mặc định chỉ lấy status = 1.
        
        API này yêu cầu quyền: `/svcDirectory/manageAgency/read`
        
        Nếu có ROLE `SUPER_ADMIN`:
        
           + Cho phép truyền tham số `deployment-id`. Lấy danh sách đơn vị theo tham số `deployment-id`.
           
        Nếu không truyền `deployment-id`:
           
           + Lấy danh sách đơn vị theo `deploymentId` lấy trong access token.
        
        Các tính năng khác: `MULTI-TENANT` `MULTI-LANGUAGE`
      parameters:
        - in: header
          name: Accept-Language
          description: Ngôn ngữ trả về
          required: false
          schema:
            type: string
            example: vi
        - in: query
          name: keyword
          schema:
            type: string
            example: Sở
          required: false
          description: Từ khóa tìm kiếm tên đơn vị
        - in: query
          name: tag-id
          schema:
            type: string
            format: ObjectId
            example: 765f1f77bcf86cd799439010
          required: false
          description: Loại đơn vị
        - in: query
          name: page
          description: Trang cần lấy dữ liệu
          required: false
          schema:
            type: number
            example: 1
        - in: query
          name: size
          description: Số dòng truyền vào
          required: false
          schema:
            type: number
            example: 10
        - in: query
          name: status
          description: Trạng thái
          required: false
          schema:
            type: number
            example: 1
        - in: query
          name: deployment-id
          description: Mã hệ thống triển khai
          schema:
            type: string
            example: "carbon.super"
      responses:
        '200':
          description: Lấy dữ liệu thành công
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      content:
                        properties:
                          id:
                            type: string
                            description: Mã đơn vị
                            format: ObjectId
                          name:
                            type: string
                            description: Tên đơn vị
                          status:
                              type: number
                              description: Trạng thái
                          deploymentId:
                              type: string
                        example:
                          - id: 765f1f77bcf86cd799439011
                            name: Sở Thông tin và Truyền thông
                            status: 1
                            deploymentId: "carbon.super"
                          - id: 765f1f77bcf86cd799439012
                            name: Sở Khoa học và Công nghệ
                            status: 1
                            deploymentId: "carbon.super"
                  - $ref: '#/components/schemas/Slice'
        '400':
          description: Không tìm thấy mã triển khai
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: number
                    format: number
                    example: 10000
                  message:
                    type: string
                    format: string
                    example: "Không tìm thấy mã triển khai trong token"          
      security:
        - OAuth2:
            - READ
            - WRITE
  /directory/agency/name+tag:
    get:
      tags:
        - Agency
      summary: API Lấy danh sách thông tin tên và loại đơn vị
      description: |
        **Lưu ý:**
        - `status` = 0 đóng, 1 mở, 2 tất cả. Mặc định chỉ lấy status = 1.
        
        API này yêu cầu quyền: `/svcDirectory/manageAgency/read`
        
        Nếu có ROLE `SUPER_ADMIN`:
        
           + Cho phép truyền tham số `deployment-id`. Lấy danh sách thông tin tên và loại đơn vị theo tham số `deployment-id`.
           
        Nếu không truyền `deployment-id`:
           
           + Lấy danh sách thông tin tên và loại đơn vị theo `deploymentId` lấy trong access token.
        
        Các tính năng khác: `MULTI-TENANT` `MULTI-LANGUAGE`
      parameters:
        - in: query
          name: page
          description: Trang cần lấy dữ liệu
          required: false
          schema:
            type: number
            example: 1
        - in: query
          name: size
          description: Số dòng truyền vào
          required: false
          schema:
            type: number
            example: 10
        - in: query
          name: status
          description: Trạng thái
          required: false
          schema:
            type: number
            example: 1
        - in: query
          name: deployment-id
          description: Mã hệ thống triển khai
          schema:
            type: string
            example: "carbon.super"
      responses:
        '200':
          description: Lấy dữ liệu thành công
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      content:
                        type: array
                        items:
                          properties:
                            id:
                              type: string
                              format: ObjectId
                              description: Mã đơn vị
                            code:
                              type: string
                              description: Ký hiệu đơn vị
                            name:
                              type: array
                              items:
                                properties:
                                  languageId:
                                    type: number
                                    description: Tên đơn vị
                                  name:
                                    type: string
                                    description: Tên đơn vị theo ngôn ngữ
                            tag:
                              properties:
                                id:
                                  type: string
                                  description: Nhãn loại đơn vị
                                  format: ObjectId
                                trans:
                                  type: array
                                  description: Tên nhãn loại đơn vị
                                  items:
                                    properties:
                                      languageId:
                                        type: number
                                        description: Mã ngôn ngữ
                                      name:
                                        type: string
                                        description: Tên nhãn loại đơn vị theo ngôn ngữ
                            status:
                              type: number
                              description: Trạng thái
                            deploymentId:
                              type: string
                        example:
                          - id: 765f1f77bcf86cd799439011
                            code: 000.00.00.H58
                            status: 1
                            name:
                              - languageId: 228
                                name: UBND Tỉnh Tiền Giang
                            tag:
                              - id: 765f1f77bcf86cd799439012
                                trans:
                                  - languageId: 228
                                    name: Doanh nghiệp
                              - id: 765f1f77bcf86cd799439013
                                trans:
                                  - languageId: 228
                                    name: Đoàn thể
                            deploymentId: "carbon.super"
                  - $ref: '#/components/schemas/Page'
        '400':
          description: Không tìm thấy mã triển khai
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: number
                    format: number
                    example: 10000
                  message:
                    type: string
                    format: string
                    example: "Không tìm thấy mã triển khai trong token"          
      security:
        - OAuth2:
            - READ
            - WRITE
  /directory/agency/name+logo-id:
    get:
      tags:
        - Agency
      summary: API Lấy danh sách tên và logo của đơn vị
      description: |
        Lấy danh sách đơn vị kèm điều kiện tìm kiếm. Các trường là trường tùy chọn, nếu không truyền hoặc rỗng thì trả về tất
        cả dữ liệu. 
        
        - `status` = 0 đóng, 1 mở, 2 tất cả. Mặc định chỉ lấy status = 1.
        
        API này yêu cầu quyền: `/svcDirectory/manageAgency/read`
        
        Nếu có ROLE `SUPER_ADMIN`:
        
           + Cho phép truyền tham số `deployment-id`. Lấy danh sách tên và logo của đơn vị theo tham số `deployment-id`.
           
        Nếu không truyền `deployment-id`:
           
           + Lấy danh sách tên và logo của đơn vị theo `deploymentId` lấy trong access token.
        
        Các tính năng khác: `MULTI-TENANT` `MULTI-LANGUAGE`
      parameters:
        - in: header
          name: Accept-Language
          description: Ngôn ngữ trả về
          required: false
          schema:
            type: string
            example: vi
        - in: query
          name: agency-level-id
          required: false
          description: Cấp đơn vị
          schema:
            type: string
            format: ObjectId
            example: 765f1f77bcf86cd799439011
          allowEmptyValue: true
        - in: query
          name: parent-id
          required: false
          description: Mã đơn vị cha
          schema:
            type: string
            format: ObjectId
            example: 765f1f77bcf86cd799439012
          allowEmptyValue: true
        - in: query
          name: ancestor-id
          required: false
          description: Mã đơn vị liên quan (tổ tiên)
          schema:
            type: string
            format: ObjectId
            example: 765f1f77bcf86cd799439012
          allowEmptyValue: true
        - in: query
          name: tag-id
          required: false
          description: Mã loại đơn vị
          schema:
            type: string
            format: ObjectId
            example: 765f1f77bcf86cd799439012
          allowEmptyValue: true
        - in: query
          name: keyword
          required: false
          description: Từ khóa tìm kiếm
          schema:
            type: string
            example: Tài
          allowEmptyValue: true
        - in: query
          name: status
          description: Trạng thái
          required: false
          schema:
            type: number
            example: 1
        - in: query
          name: deployment-id
          description: Mã hệ thống triển khai
          schema:
            type: string
            example: "carbon.super"
      responses:
        '200':
          description: Lấy dữ liệu thành công
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      content:
                        properties:
                          id:
                            type: string
                            format: ObjectId
                            description: Mã đơn vị
                          name:
                            type: string
                            description: Tên đơn vị
                          logoId:
                            type: string
                            description: Mã hình ảnh đại diện cơ quan
                            format: ObjectId
                          status:
                              type: number
                              description: Trạng thái
                          deploymentId:
                              type: string
                        example:
                          - id: 765f1f77bcf86cd799439010
                            name: Sở Môi trường & Tài nguyên thiên nhiên
                            logoId: 765f1f77bcf86cd799439011
                            status: 1
                            deploymentId: "carbon.super"
                          - id: 765f1f77bcf86cd799439013
                            name: Sở Tài chính
                            logoId: 713f1f77bcf86cd799439012
                            status: 1
                            deploymentId: "carbon.super"
                  - $ref: '#/components/schemas/Slice'
        '400':
          description: Không tìm thấy mã triển khai
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: number
                    format: number
                    example: 10000
                  message:
                    type: string
                    format: string
                    example: "Không tìm thấy mã triển khai trong token"          
      security:
        - OAuth2:
            - READ
            - WRITE
  /directory/agency/--hotline:
    get:
      tags:
        - Agency
      summary: API Lấy danh sách hotline đơn vị
      description: |
        **Lưu ý:**
        - `status` = 0 đóng, 1 mở, 2 tất cả. Mặc định chỉ lấy status = 1.
        
        API này yêu cầu quyền: `/svcDirectory/manageAgency/read`
        
        Nếu có ROLE `SUPER_ADMIN`:
        
           + Cho phép truyền tham số `deployment-id`. Lấy danh sách hotline đơn vị theo tham số `deployment-id`.
           
        Nếu không truyền `deployment-id`:
           
           + Lấy danh sách hotline đơn vị theo `deploymentId` lấy trong access token.
        
        Các tính năng khác: `MULTI-TENANT` `MULTI-LANGUAGE`
      parameters:
        - in: header
          name: Accept-Language
          description: Ngôn ngữ trả về
          required: false
          schema:
            type: string
            example: vi
        - in: query
          name: parent-id
          required: false
          description: Mã đơn vị cha
          schema:
            type: string
            format: ObjectId
            example: 765f1f77bcf86cd799439012
          allowEmptyValue: true
        - in: query
          name: ancestor-id
          required: false
          description: Mã đơn vị liên quan (tổ tiên)
          schema:
            type: string
            format: ObjectId
            example: 765f1f77bcf86cd799439012
          allowEmptyValue: true
        - in: query
          name: keyword
          required: false
          description: Từ khóa tìm kiếm
          schema:
            type: string
            example: Tài
          allowEmptyValue: true
        - in: query
          name: page
          description: Trang cần lấy dữ liệu
          required: false
          schema:
            type: number
            example: 1
        - in: query
          name: size
          description: Số dòng truyền vào
          required: false
          schema:
            type: number
            example: 10
        - in: query
          name: status
          description: Trạng thái
          required: false
          schema:
            type: number
            example: 1
        - in: query
          name: deployment-id
          description: Mã hệ thống triển khai
          schema:
            type: string
            example: "carbon.super"
      responses:
        '200':
          description: Lấy dữ liệu thành công
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      content:
                        type: array
                        items:
                          properties:
                            id:
                              type: string
                              format: ObjectId
                              description: Mã đơn vị
                            name:
                              type: array
                              items:
                                properties:
                                  languageId:
                                    type: number
                                    description: Mã ngôn ngữ
                                  name:
                                    type: string
                                    description: Tên đơn vị theo ngôn ngữ
                            telephone:
                              type: string
                              description: Số điện thoại đơn vị
                            fax:
                              type: string
                              description: Số fax đơn vị
                            email:
                              type: string
                              description: 'Email đơn vị '
                            website:
                              type: string
                              description: Website đơn vị
                            logoId:
                              type: string
                              description: Mã hình ảnh đại diện cơ quan
                              format: ObjectId
                            address:
                              type: string
                              description: 'Địa chỉ cụ thể đơn vị (số nhà, đường..)'
                            status:
                              type: number
                              description: Trạng thái
                            place:
                              type: object
                              description: Địa danh
                              properties:
                                id:
                                  type: string
                                  description: Mã địa danh
                                  format: ObjectId
                                trans:
                                  type: array
                                  items:
                                    properties:
                                      languageId:
                                        type: number
                                      name:
                                        type: string
                                      address:
                                        type: string
                                parent:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      format: ObjectId
                                    trans:
                                      type: array
                                      items:
                                        properties:
                                          languageId:
                                            type: number
                                          name:
                                            type: string
                                          address:
                                            type: string
                                    tags:
                                      type: array
                                      items:
                                        properties:
                                          id:
                                            type: string
                                            format: ObjectId
                                          trans:
                                            type: array
                                            items:
                                              properties:
                                                languageId:
                                                  type: number
                                                name:
                                                  type: string
                                ancestors:
                                  type: array
                                  items:
                                    properties:
                                      id:
                                        type: string
                                        format: ObjectId
                                      trans:
                                        type: array
                                        items:
                                          properties:
                                            languageId:
                                              type: number
                                            name:
                                              type: string
                                            address:
                                              type: string
                                      tags:
                                        type: array
                                        items:
                                          properties:
                                            id:
                                              type: string
                                              format: ObjectId
                                            trans:
                                              type: array
                                              items:
                                                properties:
                                                  languageId:
                                                    type: number
                                                  name:
                                                    type: string
                                location:
                                  type: object
                                  properties:
                                    latitude:
                                      type: string
                                    longitude:
                                      type: string
                                nation:
                                  type: object
                                  description: Quốc gia
                                  properties:
                                    id:
                                      type: string
                                      description: Mã quốc gia
                                      format: ObjectId
                                    name:
                                      type: string
                                      description: Tên quốc gia
                            deploymentId:
                              type: string
                        example:
                          - id: 765f1f77bcf86cd799439011
                            name:
                            - languageId: 228
                              name: UBND Tỉnh Tiền Giang
                            - languageId: 46
                              name: People's Committee of Tien Giang province
                            telephone: 02733977184
                            fax: 02733977184
                            email: ubnd@tiengiang.gov.vn
                            website: tiengiang.gov.vn
                            logoId: 765f1f77bcf86cd799439012
                            status: 1
                            address:
                              address: 'Số 23, đường 30/4'
                              place:
                                id: 765f1f77bcf86cd799439013
                                trans:
                                  - languageId: 228
                                    name: "Tiền Giang"
                                    address: "44-46 Lê Lợi"
                                parent:
                                  id: 765f1f77bcf86cd799439012
                                  trans:
                                    - languageId: 228
                                      name: "Tiền Giang"
                                      address: "44-46 Lê Lợi"
                                  tags:
                                    - id: 765f1f77bcf86cd799439013
                                      trans:
                                        - languageId: 228
                                          name: "Thành Phố"
                                ancestors:
                                  - id: 765f1f77bcf86cd799439012
                                    trans:
                                      - languageId: 228
                                        name: "Tiền Giang"
                                        address: "44-46 Lê Lợi"
                                    tags:
                                      - id: 765f1f77bcf86cd799439013
                                        trans:
                                          - languageId: 228
                                            name: "Thành Phố"
                                location:
                                  latitude: 10.8214228
                                  longitude: 105.1234987
                                nation:
                                  id: 765f1f77bcf86cd799439011
                                  trans:
                                    - languageId: 228
                                      name: "Việt Nam"
                            deploymentId: "carbon.super"
                  - $ref: '#/components/schemas/Slice'
        '400':
          description: Không tìm thấy mã triển khai
          content:
            application/json:
[...]
